<h1>All <%= current_user.username %>'s Comments</h1>

<div class="row">
  <div class="col-md-3">
    <% unless current_user.avatar.blank? %>
    <%= image_tag current_user.avatar.url, size: 250, class: "profile_pic" %>
    <% end %>
    <%= link_to current_user.name, root_path %>
    @<%= link_to current_user.username, root_path %>

  </div>
  <div class="col-md-6">

  </div>
  <div class="col-md-3">

  </div>

</div>
<% @comment.each do |comment| %>

<% end %>
